@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300;1,600&display=swap');
.engineeringTop{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: #EEFBF3;
}

.engineeringTop .engineeringTopInner{
  width: 90%;
  margin: auto;
  max-width: 1266px;
  
}

.engineeringTop .engineeringTopInner p{
  font-size:25px ;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.engineeringTop .engineeringTopInner h1{
  font-size: 40px;
  margin-top: 15px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}




.engineeringCourse{
    width: 90%;
    max-width: 1266px;
    margin: 90px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media screen and (max-width:992px){
    .engineeringCourse{
        justify-content: space-around;
    }
}